$bg: #f0fdf9;
$bg-form: #9bf4de;
$btn-bg: #0f7666;
$color-white: #fff;

// GREEN COLOR
$green-50: #f0fdf9;
$green-100: #ccfbed;
$green-300: #5eeac8;
$green-500: #14b898; 
$green-600: #0d947d;
$green-900: #134e45;
$green-950: #042f2a;

// BLUE COLOR
$blue-100: #94c5fc;
$blue-200: #c0dbfd;
$blue-300: #94c5fc;
$blue-500: #2864e8;

// ORANGE COLOR
$orange-200: #fbd5ad;
$orange-300: #f9b778;
$orange-500: #f27322;
$orange-700: #bc4012;
