$bg: #f0fdf9;
$bg-form: #9bf4de;
$btn-bg: #0f7666;
$color-white: #fff;

// GREEN COLOR
$green-50: #f0fdf9;
$green-100: #ccfbed;
$green-300: #5eeac8;
$green-500: #14b898; 
$green-600: #0d947d;
$green-900: #134e45;
$green-950: #042f2a;

// BLUE COLOR
$blue-100: #94c5fc;
$blue-200: #c0dbfd;
$blue-300: #94c5fc;
$blue-500: #2864e8;

// ORANGE COLOR
$orange-200: #fbd5ad;
$orange-300: #f9b778;
$orange-500: #f27322;
$orange-700: #bc4012;

$img-banner: 'https://blush.design/api/download?shareUri=nkISswa8wcWpfJdN&c=Hair_0%7E878787-0.1%7E0f0f0f-0.2%7Ec38741-0.3%7E878787_Skin_0%7E7d4439-0.1%7Eecafa3-0.2%7Ef6cbc3-0.3%7Ef6cbc3&w=800&h=800&fm=png';