.container_dashboard{
  height: calc(100vh - 160px);
}
.sidebar{
  height: calc(100vh - 160px);
  background-color: $green-100;
}
.btn-modal{
    position: absolute;
    top: 53%; left: 50%;
    transform: translate(-50%, -50%);
}