.container-banner{
  display: flex;
  justify-content: center;
  .banner{
    background: url($img-banner);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}
}