.calendar__dashboard{
  button {
    background-color: $green-500 !important;
    border: none !important;
  }
  .fc-header-toolbar{
    width: 300px !important;
  }
  .fc-view-harness{
    ::-webkit-scrollbar {
      width: 0.6rem;
      background-color: $green-100;
      border-radius: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: $green-300;
      border-radius: 0.5rem;
    }
  }
}

@media screen and (max-width: 1025px) {
  .calendar__dashboard {
    height: 400px !important;
  }
}

.calendar{
  button {
    background-color: $green-500;
    border: none;
  }
  .fc-view-harness{
    ::-webkit-scrollbar {
      width: 0.6rem;
      background-color: $green-100;
      border-radius: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: $green-300;
      border-radius: 0.5rem;
    }
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $green-100;
  border-radius: 0.5rem;
  height: .3rem;
}

::-webkit-scrollbar-thumb {
  background-color: $green-300;
  border-radius: 0.5rem;
}