$bg: #f0fdf9;
$bg-form: #9bf4de;
$btn-bg: #0f7666;

$color-white: #fff;


$img-banner: 'https://blush.design/api/download?shareUri=nkISswa8wcWpfJdN&c=Hair_0%7E878787-0.1%7E0f0f0f-0.2%7Ec38741-0.3%7E878787_Skin_0%7E7d4439-0.1%7Eecafa3-0.2%7Ef6cbc3-0.3%7Ef6cbc3&w=800&h=800&fm=png';