@charset "utf-8";

@import './styles/variables';
@import './styles/animation';
@import './styles/global';
@import './styles/nav';
@import './styles/banner';
@import './styles/login';
@import './styles/tags';

.container_dashboard{
  height: calc(100vh - 160px);
}
.sidebar{
  height: calc(100vh - 160px);
  background-color: #ccfbed;
}
.btn-modal{
    position: absolute; /* postulat de départ */
    top: 53%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.green-50{
  background-color: #f0fdf9;
}
.green-100{
  background-color: #ccfbed;
}
.green-300{
  background-color: #5eeac8;
}

.green-500{
  background-color: #14b898;
}
.green-600{
  background-color: #0d947d;
}
.green-500{
  background-color: #14b898;
}
.text-green-950{
  color: #042f2a;
}
.text-green-900{
  color: #134e45;
}
.ok{
  display: flex;
}