@charset "utf-8";

@import './styles/variables';
@import './styles/animation';
@import './styles/global';
@import './styles/nav';
@import './styles/banner';
@import './styles/login';
@import './styles/tags';

.container_dashboard{
  height: calc(100vh - 160px);
}
.sidebar{
  height: calc(100vh - 160px);
  background-color: #ccfbed;
}
.btn-modal{
    position: absolute; /* postulat de départ */
    top: 53%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.green-50{
  background-color: #f0fdf9;
}
.green-100{
  background-color: #ccfbed;
}
.green-300{
  background-color: #5eeac8;
}

.green-600{
  background-color: #0d947d;
}
.green-500{
  background-color: #14b898;
}
.text-green-950{
  color: #042f2a;
}
.text-green-900{
  color: #134e45;
}
.blue-100{
  background-color: #94c5fc;
}
.blue-200{
  background-color: #c0dbfd;
}
.text-blue-200{
  color: #94c5fc;
}
.text-blue-500{
  color: #2864e8;
}
.orange-300{
  background-color: #f9b778;
}
.orange-200{
  background-color: #fbd5ad;
}
.orange-500{
  background-color: #f27322;
}
.text-orange-700{
  // background-color: #fbd5ad;
  color: #bc4012;
}
.ok{
  display: flex;
}
#calendar{
  button {
    background-color: #14b898;
    border: none;
  }
  .fc-header-toolbar{
    width: 300px;
  }
  .fc-view-harness{
    ::-webkit-scrollbar {
      width: 0.6rem;
      background-color: #ccfbed;
      border-radius: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #5eeac8;
      border-radius: 0.5rem;
    }
  }
}
