@charset "utf-8";

@import './styles/variables';
@import './styles/animation';
@import './styles/global';
@import './styles/nav';
@import './styles/login';
@import './styles/tags';
@import './styles/calendar';
@import './styles/admin';

.green-50{
  background-color: $green-50;
}
.green-100{
  background-color: $green-100;
}
.green-300{
  background-color: $green-300;
}
.green-600{
  background-color: $green-600;
}
.green-500{
  background-color: $green-500;
}
.text-green-950{
  color: $green-950;
}
.text-green-900{
  color: $green-900;
}
.blue-100{
  background-color: $blue-100;
}
.blue-200{
  background-color: $blue-200;
}
.text-blue-200{
  color: $blue-300;
}
.text-blue-500{
  color: $blue-500;
}
.orange-300{
  background-color: $orange-300;
}
.orange-200{
  background-color: $orange-200;
}
.orange-500{
  background-color: $orange-500;
}
.text-orange-700{
  color: $orange-700;
}
.ok{
  display: flex;
}
